@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $font-light;

  color: $text-color-main;
  letter-spacing: 0.05em;

  overflow-x: hidden;
}


@media (min-width: $tablet-width) {

  body {
    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width: $desktop-width) {

  body {
    font-size: 18px;
    line-height: 28px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
