$tablet-width: 750px;
$desktop-width: 1170px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-light: "gilroylight", "Arial", sans-serif;
$font-bold: "gilroyextrabold", "Arial", sans-serif;

$bg-gray: #f8f8f8;
$text-color-main: #141414;
$text-color-darken: #1b1b1b;
$headline-color: #000000;
$accent-color: #f5112c;
$hover-accent-color: #f63f54;
$active-accent-color: #d50d25;
$shadow-color: #f61b3c;
$gray: #e2e2e2;
$blue-color: #2429ff;
