.decor-vawes {
  display: block;
  position: absolute;
  width: 66px;
  height: 34px;

  z-index: 5;

  background-image: url("../img/svg/vawes.svg");
  background-repeat: no-repeat;
  background-size: 66px auto;
  background-position: 0 0;
}
