.decor-vawe {
  display: block;
  position: absolute;
  width: 92px;
  height: 12px;

  z-index: 5;

  background-image: url("../img/svg/vawe.svg");
  background-repeat: no-repeat;
  background-size: 92px auto;
  background-position: 0 0;
}


@media (min-width: $tablet-width) {

  .decor-vawe {
    width: 145px;
    height: 20px;
    background-size: 145px auto;
  }
}
