.tel {
  position: relative;
  color: $text-color-main;
  text-decoration: none;

  transition: all 0.2s ease-in-out;
}

.tel:hover,
.tel:focus {
  color: $hover-accent-color;
}

.tel:active {
  color: $active-accent-color;

  &::after {
    background-color: $active-accent-color;
  }
}
